<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
	
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="System.IO.*" />
      <package pattern="Microsoft.EntityFrameworkCore*" />
      <package pattern="Swashbuckle.*" />
      <package pattern="AutoMapper" />
      <package pattern="Microsoft" />
      <package pattern="BCrypt.Net-Next" />
      <package pattern="Microsoft.CSharp" />
    </packageSource>
  </packageSourceMapping>
</configuration>
